/*Overall container of the nav component*/

.navContainer{
    flex-direction: 0 auto;
    justify-content: space-between;
    align-self: center;
    align-items: center;
    width: 100%;
    max-width: var(--width--max);
    height: 8vh;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
    position: relative;
    inset: 0% 0% auto;
    box-sizing: border-box;
    justify-self: anchor-center;
}

/*Div for the of the nav logo*/
.navLogoLink{
    flex: 0 auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    min-width: 24px;
    max-width: none;
    min-height: 24px;
    padding-left: 0;
    display: block;
    position: relative;
    z-index: 10;
    opacity: 1;
    z-index: 3;
}

/*Link <a> tag for the nav logo*/
.logoLinkblock{
    width: 100%;
    text-decoration: none;
    z-index: 3;
}

/* Font of the nav logo*/
.logo{
    vertical-align: baseline;
    text-decoration: none;
    font-size: var(--font-size-2);
    line-height: var(--line-height-3);
    padding-bottom: 0;
    letter-spacing: -.075rem;
    z-index: 3;
    color: var(--color--text);
}

.menuIconLineTop,
.menuIconLineMiddle,
.menuIconLineBottom {
    width: 24px;
    height: 2px;
    background-color: var(--color--text);
}

/* Nav menu text*/
.navMenuLink{
    display: flex;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    vertical-align: baseline;
    column-gap: 2rem;
    opacity: 1;
    pointer-events: auto;
    color: var(--color--text);
}

/* BKG and container of the desktop nav menu*/
.navMenuContainer {
    background-color: var(--color--elevation);
    border-radius: 4px;
    flex-flow: row;
    flex: 0 auto;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top:1rem;
    padding-bottom:1rem;
    z-index: 2;
}

.hamburgerMenu{
    display: none;
}

/* Tablet Breakpoint: Change behavior */
@media (max-width: 992px) {
    .navMenuContainer{
        background-color: var(--color--elevation);
        display: block;
        padding: 0%;
        position: absolute;
        right: 0;
        width: 48px;
        height: 48px;
        border-radius: 4px;
        align-self: auto;
        z-index: 2;
        overflow: visible;
    }

    .navMenuContainer.open{
        background-color: var(--color--elevation);
        display: block;
        padding: 0%;
        position: fixed;
        width: auto;
        height: auto;
        right: 0px;
        left: 0px;
        top: 0px;
        bottom: 0px;  
        z-index: 2;
        border-radius: 0px;
    }

    .navMenuLink{
        padding: 0px;
        text-decoration: none;
        display: flex;
        position: fixed;
        flex-direction: column;
        text-align: right;
        vertical-align: top;
        gap: 4rem;
        right: calc(2rem + 12px);
        padding-right: .75rem ;
        opacity: 0;
        top: 8rem;
        align-items: flex-end;
        z-index: 3;
        max-height: 80vh; /* Restricts the height */
        min-width: 100vw;
        overflow-y: auto; /* Enables scrolling inside the container */
        overflow-x: visible;
        scrollbar-width: none;
        z-index: -1;
        line-height: var(--line-height-2);
    }

    


    .hamburgerMenu {
        display: flex; /* Show the hamburger menu */
        width: 48px;
        height: 48px;
        border-radius: 4px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;
        z-index: 10;
        position: absolute;
        right:0;
        z-index: 3;
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .navMenuLink{
        top: 12rem;
        gap: 4rem;
        z-index: 3;
        pointer-events: none;
        z-index: -1;
    }
}