.landerContainer{
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: var(--width--max);
  aspect-ratio: 16/9;
  box-sizing: border-box;
  border-radius: 4px;
}

.landerMedia{
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    position: relative;
    box-sizing: border-box;
    scale: 1.2;
}

.projectLander{
    max-width: var(--width--max);
    width: 100%;
    justify-self: center;
    display: flex;
    flex-flow:row;
    position: relative;
    margin-top: calc(4rem + 8vh);
    margin-bottom: 2rem;
    box-sizing: border-box;
    aspect-ratio: 16/9;
    overflow: visible;
    visibility: visible;
}