:root {
    --color--surface: #f5f8fa 0.6s ease-in-out;
    --color--text: #414141 0.6s ease-in-out;
    --color--hoverText: #212121 0.6s ease-in-out;
    --color--elevation: #E9E9E9 0.6s ease-in-out;
    --color--gallerytext: #414141 0.6s ease-in-out;
   
  }

  @media (prefers-color-scheme: dark){
    :root{
      --color--surface: #212121;
      --color--text: #d5d8da;
      --color--hoverText: #f5f8fa;
      --color--elevation: #404040;
      --color--gallerytext: #f5f8fa;
    }
  }