@import './base/colors.css';
@import './base/sizes.css';
@import './base/type.css';
@import './components/navbar.css';
@import './components/footer.css';
@import './components/galleryCard.css';
@import './components/projectLander.css';

/* removing scroll bar(vertical) */
::-webkit-scrollbar {
  display:none;
  
} 

a {
    text-decoration: none;
    color: inherit;
  }

body{
  margin:0px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  /* overflow: visible; */
  background-color: var(--color--surface);
  height:fit-content;
}

main{
  position: fixed;
  overflow: scroll;
  z-index: 0;
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  align-items: center;
}

.scrollWrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  right:0;
  left: 0;
}

.galleryContainer{
  display: grid;
  position: relative;
  overflow: visible;
  grid-template-columns: repeat(2, minmax(480px, 720px));
  margin-top: calc(4rem + 8vh);
  margin-bottom: 2rem;
  width: 100%;
  gap: 2rem;
  max-width: var(--width--max);
  justify-self: anchor-center;
}

.hover{
    cursor: pointer;
}

.scalingHover{
  cursor: pointer;
}

/* Lock scrolling on body */
.scroll-lock {
  overflow: hidden; /* Prevents scrolling */
  pointer-events: none;
}

.svgLink{
  width: fit-content;
  height: fit-content;
}

html{
  font-size: 16px;
  font-family: neue-haas-unica, sans-serif;
  color: var(--color--text);
  font-kerning: normal;
}

@media (max-width: 992px){
  html{
    font-size: 12px;
  }

  .galleryContainer{
    grid-template-columns: repeat(2,minmax(360px, 720px));

  }
}

@media (max-width: 720px){
  .galleryContainer{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px){
  html{
    font-size: 8px;
  }
}


